{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "<S3_BUCKET>",
    "Key": ".dockercfg"
  },
  "Image": {
    "Name": "<IMG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "8080"
    }
  ]
}
